#loader-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10000;
  background: #fff;
  display: none;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#loader-container img {
  width: 35rem;
}

#loader-container.fade-out {
  top: -110%;
  opacity: 0;
}


.quillcontainer {
  height: 90%;
  min-height: 90%;
  padding: 10px;
}
.quillcontainer .ql-editor {
  font-size: 18px;
  overflow-y: scroll;
}

.ql-container {
  overflow-x:auto;
  height: relative
}

.ql-container.ql-snow {
    height: auto;
}
.ql-editor {
    height: 350px;
    overflow-y: scroll;
}